.lab-container {
  height: auto;
}

.lab ul,
ol,
dd {
  margin-left: 17px;
}

.lab ul li,
ol li,
dt,
dd {
  margin-top: 17px;
  margin-bottom: 17px;
}

.lab ul {
  list-style-type: square;
}

.entities {
  font-size: 16px;
}

.lab {
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 90px;
  padding-right: 90px;
}

.tag-lab {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 30px;
}

.tag-lab-main {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
  width: 1020px;
}

.section-lab3 {
  border: 1px solid grey;
  border-radius: 3%;
  padding: 10px;
  width: 800px;
}

.section-lab3 figure {
  text-align: center;
}

.section-lab3 p {
  margin-top: 10px;
}

.lab-menu {
  margin: -17px;
  margin-top: 10px;
}

.lab-menu a {
  text-decoration: none;
  color: white;
}

article.section-lab3 h1 {
  font-size: 20px;
  color: green;
}

section.section-lab3 img {
  margin-top: 10px;
  width: 700px;
}

article.section-lab3 p:nth-of-type(1) {
  background: red;
  color: white;
}

article.section-lab3 div {
  display: flex;
  justify-content: center;
}

article.section-lab3 div figure {
  border: 2px solid black;
  width: 714px;
  margin-top: 10px;
  padding: 5px;
}

article.section-lab3 div figure img {
  width: 700px;
}

.lab-menu ul {
  margin-top: 10px;
  background-color: #544e60;
  border: 1px solid #bba3be;
  width: 200px;
  padding: 0;
}
.lab-menu li {
  padding: 5px;
  border-bottom: 1px solid #bba3be;
  list-style-type: none;
}

.lab-menu li:last-child {
  border-bottom: none;
}

.lab-menu a:hover {
  text-decoration: underline;
}

.myblock {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 200px;
  border: 3px solid black;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 20px;
}
.lemon {
  width: 180px;
  height: 180px;
  margin: 10px;
  background: url("https://cdn4.iconfinder.com/data/icons/Limon_iContainer/512/Grapefruit.png");
  background-size: contain;
  background-position: 50%;
  border-radius: 5px;
  float: left;
}
.about-lemon h3 {
  text-align: centr;
  padding: 10 px 0;
}
.about-lemon p {
  font-size: 10xp;
  line-height: 100%;
  margin: 20px 0px;
}

.wrap-lab4 {
  font-family: "Exo 2", sans-serif;
  width: 350px;
  margin: 40px auto;
  border: 1px solid #c0c0c0;
  padding: 20px;
  border-radius: 4px;
}

.wrap-lab4 h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.wrap-lab4 img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
  border-radius: 300px;
  box-shadow: 0 0 10px #454545;
}

.wrap-lab4 p {
  font-size: 13px;
  line-height: 150%;
  margin: 5px 0;
  padding: 5px;
}

.wrap-lab4 .info {
  border-bottom: 1px solid #c0c0c0;
  padding: 10px;
  text-align: center;
}

.wrap-lab4 .side {
  font-weight: 700px;
  width: 140px;
  display: inline-block;
  font-weight: bold;
}

.wrap-lab4 p:nth-child(2n) {
  background: #ececec;
}

.red-card {
  color: red;
}

.card-icon p {
  margin-bottom: 20px;
}

.css-code {
  font-size: 20px;
}

.links {
  background: #f6967d;
}

.links a {
  color: #fffdeb;
  display: inline-block;
  border-right: 1px solid #b62025;
  padding: 5px 10px;
}

.links a:last-child {
  border-right: none;
}

.header-center {
  display: flex;
  justify-content: space-between;
}

.header-center h1 {
  margin-left: 6px;
  margin-right: 6px;
}

.horizontal-line {
  border-top: 6px solid #000;
  width: 60%;
  position: relative;
  top: 16px;
  margin-bottom: 0px;
  float: right;
}

.battery {
  width: 150px;
  height: 50px;
  border: solid 4px;
  margin-bottom: 10px;
  position: relative;
}
.battery::after {
  content: "";
  width: 10px;
  height: 20px;
  background: #000000;
  position: absolute;
  left: 143px;
  bottom: 11px;
}

.battery-green {
  background: green;
}

.battery-red {
  background: linear-gradient(to right, red 50px, #ffffff 51px);
}

.battery-yellow {
  background: linear-gradient(to right, yellow 100px, #fff 101px);
}

.main-block-house {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}

.main-block-house .house,
.roof,
.chimney,
.window,
.door {
  position: absolute;
}

.main-block-house .house {
  width: 150px;
  height: 150px;
  background: coral;
  bottom: 0px;
  left: 75px;
}

.main-block-house .roof {
  width: 0px;
  height: 0px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 75px solid red;
  left: 75px;
  top: 73px;
  z-index: 1;
}

.main-block-house .chimney {
  width: 20px;
  height: 60px;
  background: black;
  left: 105px;
  top: 84px;
}

.main-block-house .door {
  width: 60px;
  height: 90px;
  background: brown;
  bottom: 0px;
  left: 95px;
  z-index: 1;
}

.main-block-house .window {
  width: 40px;
  height: 40px;
  background: cyan;
  left: 169px;
  top: 160px;
  z-index: 1;
}

.main-block-world {
  width: 500px;
  height: 420px;
  border: 1px solid black;
  position: relative;
  background-color: #81ccc7;
}

.main-block-world img {
  background: no-repeat;
}

.main-block-world img[alt="world"] {
  position: absolute;
  width: 100%;
  bottom: -10px;
}

.main-block-world img[alt="water"] {
  position: absolute;
  width: 498px;
  bottom: -157px;
  z-index: 1;
}

.main-block-world img[alt="clouds"] {
  position: absolute;
  width: 60%;
  top: -120px;
  left: 170px;
}

.main-block-world img[alt="wooden-ship"] {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 30px;
  left: 10px;
}

.sections-page-lab .fullwrap {
  width: 600px;
  height: 700px;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
}
.sections-page-lab .header {
  border: 1px solid black;
  height: 100px;
  margin-bottom: 10px;
}

.sections-page-lab .wrap {
  border: 1px solid black;
  padding: 10px;
  height: 458px;
  position: relative;
}

.sections-page-lab .wrap .main {
  border: 1px solid black;
  height: 100%;
  width: 320px;
  margin-right: 10px;
}

.sections-page-lab .wrap .sidebar {
  border: 1px solid black;
  position: absolute;
  top: 10px;
  height: 436px;
  width: 210px;
  right: 10px;
}

.sections-page-lab .footers {
  border: 1px solid black;
  height: 100px;
  margin-top: 10px;
}

form[name="calculator1"] {
  border: 3px solid #6e9c9e;
  border-radius: 10px;
  height: 400px;
  width: 259px;
}

.casio {
  background-color: #6e9c9e;
  height: 36px;
  color: white;
  font-size: 14px;
  text-align: end;
  margin-top: 10px;
  padding: 11px;
  font-weight: bold;
}

.calc-wrap {
  padding: 11px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.calc-wrap > input[name="ans"] {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border-color: #6e9c9e;
  border-style: none;
  border: 3px solid #6e9c9e;
  text-align: end;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  color: #6e9c9e;
}

.calc-wrap > input[type="button"] {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  border-color: #6e9c9e;
  border-style: none;
  border: 3px solid #6e9c9e;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #6e9c9e;
  background: #fff;
  font-weight: bold;
  outline: none;
}

.calc-wrap > input[type="button"]:hover {
  color: #fff;
  background: #6e9c9e;
}

.calc-wrap > input[type="button"]:active {
  opacity: 0.5;
}

.calc-wrap > input[type="reset"] {
  width: 84px;
  height: 30px;
  border-style: none;
  background: #6e9c9e;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 15px;
  float: right;
  outline: none;
}

.calc-wrap > input[type="reset"]:hover {
  background: #fff;
  border: 3px solid #6e9c9e;
  color: #6e9c9e;
}

.calc-wrap > input[type="reset"]:active {
  opacity: 0.5;
}

.line-4-calc {
  float: right;
  margin-bottom: 10px;
}

.line-3-calc {
  float: right;
  margin-left: 10px;
}

.line-2-calc {
  float: left;
  margin-bottom: 10px;
}

.line-1-calc {
  float: left;
  margin-right: 10px;
}

.column-1-calc {
  margin-bottom: 15px;
}

.column-2-calc {
  margin-bottom: 14px;
}

form[name="calculator2"] {
  border: 3px solid #6e9c9e;
  border-radius: 10px;
  height: 400px;
  width: 259px;
}

.calc-wrap2 {
  padding: 11px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.calc-wrap2 > input[name="ans"] {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border-color: #6e9c9e;
  border-style: none;
  border: 3px solid #6e9c9e;
  text-align: end;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  color: #6e9c9e;
}

.calc-wrap2 > input[type="button"] {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  border-color: #6e9c9e;
  border-style: none;
  border: 3px solid #6e9c9e;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #6e9c9e;
  background: #fff;
  font-weight: bold;
  outline: none;
  position: absolute;
}

.calc-wrap2 > input[type="button"]:hover {
  color: #fff;
  background: #6e9c9e;
}

.calc-wrap2 > input[type="button"]:active {
  opacity: 0.5;
}

.calc-wrap2 > input[type="reset"] {
  width: 84px;
  height: 30px;
  border-style: none;
  background: #6e9c9e;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 15px;
  outline: none;
  position: absolute;
  right: 11px;
  top: 46px;
}

.calc-wrap2 > input[type="reset"]:hover {
  background: #fff;
  border: 3px solid #6e9c9e;
  color: #6e9c9e;
}

.calc-wrap2 > input[type="reset"]:active {
  opacity: 0.5;
}

.button-calc4 {
  right: 11px;
}

.button-calc3 {
  right: 72px;
}

.button-calc2 {
  left: 72px;
}

.line-position-calc1 {
  top: 99px;
}

.line-position-calc2 {
  top: 159px;
}

.line-position-calc3 {
  top: 224px;
}

.line-position-calc4 {
  top: 288px;
}

.main-troll-lab6 {
  font-family: Verdana, Tahoma, sans-serif;
  width: 500px;
  border: 1px solid #666;
  padding-bottom: 10px;
  margin: auto;
}

.main-img-troll-lab6 {
  width: 100%;
  height: 150px;
}

.main-troll-lab6 h2 {
  text-align: center;
  margin: 20px;
}

.main-troll-lab6 p {
  font-size: 14px;
  line-height: 17px;
  margin: 10px;
  text-indent: 15px;
}

.it-troll-lab6 {
  font-style: italic;
  color: brown;
}

.wrap-puhach-lab6 {
  font-family: Arial;
  line-height: 22px;
  width: 800px;
  margin: 10px auto;
  border: 1px solid #666;
  padding: 10px;
}

.main-img-puhach-lab6 {
  width: 100%;
  margin: 20px 0px;
}

.wrap-puhach-lab6 h1 {
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px dotted #333;
  padding-bottom: 30px;
}

.wrap-puhach-lab6 p {
  margin: 20px 0px;
  text-indent: 30px;
}

.second-img-puhach-lab6 {
  float: right;
  margin: 30px 0px 30px 30px;
}

.footer-puhach-lab6 {
  background: cadetblue;
  text-align: center;
  padding: 30px;
  color: #fff;
}

.wrap-header-lab6 {
  height: 120px;
  margin: auto;
  margin-left: -90px;
  margin-bottom: 40px;
  width: 1200px;
  padding-top: 35px;
  background: url('../img/lab6_picture/body-bg.png') repeat-x;
}

.img-utp-container-lab6 {
  display: flex;
  justify-content: space-evenly;
}

.img-utp-lab6 {
  height: 65px;
  width: 930px;
}

.hotbar-lab6 {
  display: flex;
  position: relative;
  width: 930px;
  margin: 0 auto;
  overflow: hidden;
  left: 119px;
}

.item-hotbar-lab6 {
  background-color: #eff3f4;
  margin-right: 3px;
  list-style: none;
}

.hotbar-lab6 button {
  background-color: #eff3f4;
  padding: 7px 18px;
  outline: none;
  border: none;
}

.item-hotbar-lab6 button:focus {
  background-color: #c1d1d6;
}

.item-hotbar-lab6 button:focus::after {
  position: absolute;
  content: "";
  width: 100%;
  box-sizing: content-box;
  height: 3px;
  background: #c1d1d6;
  top: 43.3px;
}

.wrap-menu-burger-lab6 {
  height: 530px;
  width: 1054px;
  background: linear-gradient(to right bottom, #241e1f, #463a37);
  padding-left: 50px;
  padding-right: 64px;
  padding-top: 25px;
  padding-bottom: 48px;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}

.burger-foto-lab6 {
  height: 392px;
  width: 329px;
  float: left;
}

.up-img-dib-lab6 {
  height: 212px;
  width: 338px;
  background-color: #000000;
  position: absolute;
  top: 155px;
  left: 38px;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 34px;
}

.up-img-dib-lab6 p:nth-child(1) {
  font-size: 50px;
  font-weight: 900;
  line-height: 40px;
}

.up-img-dib-lab6 p:nth-child(2) {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.up-img-dib-lab6 span {
  color: #f7c73a;
}

.main-menu-burger-lab6 {
  height: 392px;
  width: 611px;
  background-color: #fff;
  float: right;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 60px;
}

.main-menu-burger-lab6 h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.main-menu-burger-lab6 > h1 {
  margin-bottom: 60px;
}

.section-menu-burger-lab6 {
  float: left;
  width: 200px;
  text-align: center;
  height: 70px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 10px;
}

.section-menu-burger-lab6 h1 {
  margin-bottom: 6px;
}

.section-menu-burger-lab6 {
  position: relative;
}

.section-menu-burger-lab6 p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  color: #999999;
  margin-bottom: 5px;
}

.section-menu-burger-lab6 div {
  margin-bottom: 20px;
  margin: auto;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 6px solid #d5d5d5;
  position: relative;
  top: -6px;
}

.section-menu-burger-lab6 div:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -6px;
  top: 6px;
  border: 6px solid transparent;
  border-top: 6px solid #d5d5d5;
}

.section-menu-burger-lab6 hr {
  background-color: #d5d5d5;
  height: 1px;
  border: none;
  outline: none;
  top: 57.5px;
  position: absolute;
  width: 100%;
}

.wrap-menu-burger-lab6 button {
  margin-top: 6px;
  height: 55px;
  width: 176px;
  float: right;
  background-color: #000000;
  color: #fff;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.wrap-menu-burger-lab6 button:hover {
  background-color: #fff;
  color: #000000;
  border: 2px solid #000000;
}

.wrap-menu-burger-lab6 button:active {
  color: #000000;
  border: 2px solid #000000;
  background-color: #d5d5d5;
}
